body {
    background: #f5f8fa;
    margin-bottom: 160px;
}

.card p {
    font-size: 0.8rem;
    font-weight: 100;
}

.card.comprador p {
    font-size: 1rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link, #boton-carrito  {
    background-color: #5c8a36;
 }
 
 a.nav-link {
     color: #354535;
 }

 img.texto-inline {
    margin-right: 4px;
 }

 #boton-carrito {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 0 0 0;
    border-color: #5c8a36;
}

#carrito-lista {
    overflow: hidden;
    border: 8px solid #5C8A36;
    height: 190px;
    z-index: -2;

    border-radius: 0 .5em 0 0;
    background: #ffffff;
}

#carrito-items {
    position: relative;
    padding: 5px;
    left: 0px;
    width: 100%;
}

#panel-toolbar {
    width: 100%;
    margin: 0 auto;
    border: 8px solid #5C8A36;
    border-top-width: 0;
    border-radius: 0;
    padding: 10px;
    font-size: 14px;
    background: #333;
    font-weight: 300;
    color: #f8f9fa;
}

#nav-izq {
    float: left;
}
 
#nav-der {
    float: right;
}

.clear {
    clear: both;
}

#nav-der input {
    width: 90px;
}

.cart-item {
    position: relative;
    width: 90px;
    height: 154px;
    padding: 5px;
    margin: 5px 5px 0 5px;
    border: 1px solid #aaa;
    border-radius: 2px;
    float: left;
}

.cart-item .remove-icon {
    position: absolute;
    width: 30px;
    left: 30px;
    bottom: 10px;
    opacity: 0.8;
    visibility: hidden;
}

.cart-item .card-text {
    font-size: 0.7em;
    position: absolute;
    bottom: 2px;
}

/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.cart-item--animate-in {
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

@keyframes widthOut {
    from {
    }

    to {
        width: 0;
        height: 0;
        opacity: 0;
    }
}

.cart-item--animate-out {
    animation-name: widthOut;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
}

/* drag & drop */
.drop-active {
    border-color: rgb(139, 177, 104) !important;
}

.drop-active-button {
    background: rgb(139, 177, 104) !important;
    border-color: rgb(139, 177, 104) !important;
}

.drop-hover {
    background: #f4e5da !important; 
}

.tmp-drag {
    width: 90px;
}
